<% layout('layouts/boilerplate') %>

<link rel="stylesheet" href="/stylesheets/maps.css">

<script>
    const mapToken = '<%- process.env.MAPQUEST_KEY %>'
    const campgroundsString = '<%- JSON.stringify(campgrounds).replace(/[\']/g, "&apos;") %>'
</script>

<div class="col-lg-8 offset-lg-2">
    <div class="mb-3" id="clusterMap"></div>
    <h1>All Campgrounds</h1>
    <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <% if (campground.images.length) { %>
            <div class="col-lg d-flex justify-content-center align-items-center">
                <img class="img-fluid" src="<%= campground.images[0].default %>" crossorigin="anonymous">
            </div>
            <% } %>
            <div class="col-lg">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">
                        View <%= campground.title %>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>
</div>

<script defer src="/js/clusterMap.js"></script>