<% layout('layouts/boilerplate') %>

<div class="col-lg-8 offset-lg-2">
    <h1>Campgrounds</h1>

    <%- include('../partials/search') %>
    <% if (count > 0) { %>
    <%- include('../partials/pageSize') %>
    <%- include('../partials/pagination') %>
    <% } else { %>
    <h3>No results!</h3>
    <% } %>

    <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
        <div class="row">
            <% if (campground.images.length) { %>
            <div class="col-lg d-flex justify-content-center align-items-center">
                <img class="img-fluid" src="<%= campground.images[0].default %>" crossorigin="anonymous">
            </div>
            <% } %>
            <div class="col-lg">
                <div class="card-body">
                    <h5 class="card-title"><%= campground.title %></h5>
                    <p class="card-text"><%= campground.description %></p>
                    <p class="card-text">
                        <small class="text-muted"><%= campground.location %></small>
                    </p>
                    <a class="btn btn-primary" href="/campgrounds/<%= campground._id %>">
                        View <%= campground.title %>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <% } %>

    <% if (count > 0) { %>
    <%- include('../partials/pagination') %>
    <% } %>
</div>