<%- include('partials/header') %>

<h1><%= campground.title %></h1>
<h2><%= campground.location %></h2>

<form action="<%= baseUrl %>/<%= campground._id %>/edit">
    <button>Edit</button>
</form>

<form action="<%= baseUrl %>/<%= campground._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>

<form action="<%= baseUrl %>">
    <button>All Campgrounds</button>
</form>

<%- include('partials/footer') %>